__pycache__/
*.py[cod]
*.pyc

venv/
.venv/
env/
ENV/

.env
.env.*

dist/
build/
*.egg-info/
pip-log.txt
pip-delete-this-directory.txt

target/
logs/
dbt_packages/
dbt_modules/

*.duckdb
*.duckdb.wal

*.pbix

files/raw/
files/clean/
files/enrich/
files/tmp/
*.parquet
*.arrow
*.csv.gz

.ipynb_checkpoints/

.DS_Store
Thumbs.db
